@import 'variable';

input {
  border: none;
  color: $text-secondary;
  background-color: $bg-form;
  height: 2.25rem;
  width: 100%;
  padding: 0 12px;

  &:focus {
    outline: none;
    box-shadow: 0 0 1px 1px $primary;
  }
}

textarea {
  border: none;
  color: $text-secondary;
  background-color: $bg-form;
  width: 100%;
  padding: 12px;
  height: 100px;

  &:focus {
    outline: none;
    box-shadow: 0 0 1px 1px $primary;
  }
}

button {
  height: 2.25rem;
  border: none;
  background-color: $primary;
  color: white;
  padding: 0 1rem;

  &:hover {
    cursor: pointer;
    background-color: $primary-dark;
  }
}
