@import 'variable';

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Mulish";
  src: url("../assets/fonts/Mulish-Medium.ttf") format("truetype");
}

h1 {
  font-family: 'Montserrat-Bold';
  font-size: 2.125rem;
  line-height: 36px;
}

h2 {
  font-family: 'Montserrat';
  font-size: 1.625rem;
  text-transform: capitalize;
  color: $text-primary;
  font-weight: 300;
}

h3 {
  font-family: 'Montserrat';
  color: $text-primary;
  font-weight: 300;
  font-size: 1.2rem;
}

p {
  &.large {
    font-size: 1.125rem;
    line-height: 110%;
  }

  &.label {
    font-size: 14px;
    color: $text-primary;
    margin-bottom: 0.5rem;
  }

  line-height: 100%;
  color: $text-secondary;
}

a {
  color: $text-primary;
  text-decoration: none;
}
