// Color
$primary: #5692e8;
$primary-dark: #2c6fce;

$bg-body: linear-gradient(#081221, #03080f);
$bg-paper: #0e1a2b;
$bg-form: #182c47;
$text-primary: #ffffff;
$text-secondary: #c1d1e8;

// Breakpoints
$xl: 1200px;
$lg: 996px;
$md: 768px;
$sm: 576px;

