@import 'typo';
@import 'variable';
@import 'container';
@import 'element';

* {
  font-family: Mulish;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;

  @media screen and (max-width: $md) {
    font-size: 14px;
  }
}

body {
  background-image: $bg-body;
  background-repeat: no-repeat;
  min-height: 100vh;
}
