<template>
  <div class="contact">
    <h2>GET IN TOUCH</h2>
    <p class="large">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.
    </p>

    <form>
      <h3>Contact Form</h3>
      <div class="row">
        <div>
          <p class="label">Name<sup>*</sup></p>
          <input />
        </div>
        <div>
          <p class="label">Email Address<sup>*</sup></p>
          <input />
        </div>
      </div>

      <p class="label">Message<sup>*</sup></p>
      <textarea />

      <div class="button-wrapper">
        <button type="submit">Send</button>
      </div>
    </form>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  data() {
    return {
      text: "",
    };
  },
  methods: {},
});
</script>

<style lang="scss" scoped>
@import "@/styles/_variable.scss";
h2 {
  margin-bottom: 1rem;
}

.contact {
  max-width: 660px;
  margin: 0 auto;
  width: 100%;
  padding: 0 2rem;

  h3 {
    margin-bottom: 2rem;
  }

  sup {
    margin-left: 8px;
    color: $primary;
  }

  .row {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;

    & > div {
      width: 50%;
    }
  }

  form {
    background-color: $bg-paper;
    padding: 1.5rem 2rem;
    margin-top: 4rem;
  }

  .button-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;

    button {
      padding: 0 1.5rem;
    }
  }
}

@media screen and (max-width: $sm) {
  .contact {
    .row {
      flex-direction: column;
      gap: 1.5rem;
      margin-bottom: 1.5rem;

      & > div {
        width: 100% !important;
      }
    }

    form {
      padding: 1.5rem;

      button {
        width: 100%;
      }
    }
  }
}
</style>
