<template>
  <div class="container">
    <div class="row">
      <div class="filter-wrapper">
        <FilterPanel />
      </div>
      <div class="cards-wrapper">
        <template v-if="games.length">
          <Card
            v-bind:key="index"
            v-for="(game, index) in games"
            :game="game"
          />
        </template>
        <template v-else>
          <div class="no-data">
            <h2>No video games</h2>
          </div>
        </template>
      </div>
    </div>
  </div>
  <div v-if="loading" class="loading">
    <h2>Loading...</h2>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import FilterPanel from "@/components/FilterPanel.vue";
import Card from "@/components/Card.vue";
import { ActionTypes } from "@/stores/actions";
import { VideoGame } from "@/types";

export default defineComponent({
  components: {
    FilterPanel,
    Card,
  },
  computed: {
    games(): VideoGame[] {
      return this.$store.getters.videoGames ?? [];
    },
    loading(): boolean {
      return this.$store.getters.loading;
    },
  },
  mounted() {
    this.$nextTick(() => this.$store.dispatch(ActionTypes.GetVideoGames));
  },
});
</script>

<style lang="scss" scoped>
@import "@/styles/_variable.scss";
.loading {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}

.row {
  display: flex;
  gap: 2rem;

  .filter-wrapper {
    min-width: 300px;
  }

  .cards-wrapper {
    gap: 1.5rem;
    flex: 1;
  }

  .no-data {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    color: $text-secondary;
  }

  @media screen and (max-width: $xl) {
    .filter-wrapper {
      min-width: 260px;
    }
  }

  @media screen and (max-width: $lg) {
    flex-direction: column;
  }
}
</style>
