<template>
  <div class="card">
    <div class="media"></div>
    <div class="content">
      <h2>{{ game.name }}</h2>
      <p class="large">
        Release Date: {{ getDateFormat(game.first_release_date) }}
      </p>
      <p class="summary">
        [Summary]
        {{ game.summary }}
      </p>
    </div>
    <div class="order">
      <span>{{ game.rating.toFixed(0) }}</span>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";
import { VideoGame } from "@/types";
import moment from "moment";

export default defineComponent({
  props: {
    game: {
      type: Object as PropType<VideoGame>,
      required: true,
    },
  },
  data() {
    return {
      text: "",
    };
  },
  components: {},
  methods: {
    getDateFormat(value: number) {
      return moment(new Date(value)).format("DD/MM/YYYY");
    },
  },
});
</script>

<style lang="scss" scoped>
@import "@/styles/_variable.scss";
.card {
  display: flex;
  background-color: $bg-paper;
  margin-bottom: 1rem;
  position: relative;

  .media {
    width: 140px;
    background-color: black;
    flex-shrink: 0;
  }

  .content {
    padding: 1.5rem 6rem 1.5rem 1.5rem;
    min-height: 158px;

    .large {
      margin-bottom: 12px;
    }
  }

  .summary {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
  }

  span {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary;
    color: white;
    font-size: 1.75rem;
    font-weight: bold;
    font-family: Montserrat;
    border-radius: 50%;
    position: absolute;
    right: 2.5rem;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media screen and (max-width: $sm) {
  .card {
    flex-direction: column;

    .content {
      min-height: 120px;
    }

    .media {
      width: 100% !important;
      height: 120px;
    }

    span {
      font-size: 18px;
      width: 30px;
      height: 30px;
      top: 30px;
      right: 15px;
    }

    h2 {
      font-size: 1.25rem;
    }

    p {
      font-size: 0.875rem;
    }

    .content {
      padding: 1rem 1.5rem;
    }
  }
}
</style>
