<template>
  <div class="filter-panel">
    <h3>Filter results</h3>

    <div class="row">
      <p class="label">Name (contains)</p>
      <input v-model="name" placeholder="Search Name..." />
    </div>

    <div class="score-order">
      <div class="row">
        <p class="label">Minimum Score</p>
        <input
          type="number"
          v-model="score"
          placeholder="Enter minimum score..."
        />
      </div>

      <div class="row">
        <p class="label">Order By</p>
        <SortSelect
          :active-option="option"
          :direction="direction"
          :change-sort-option="changeSortOption"
          :change-sort-direction="changeSortDirection"
        />
      </div>

      <div class="button-wrapper">
        <button @click="clearFilter()">Clear</button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import SortSelect from "@/components/SortSelect.vue";
import { FilterOption, SortDirection, SortOption } from "@/types";
import { MutationType } from "@/stores/mutations";
import { defaultFilter } from "@/stores/state";

export default defineComponent({
  data(): {
    name: string;
    score: number;
    direction: SortDirection;
    option: SortOption;
  } {
    return {
      name: "",
      score: 0,
      direction: defaultFilter.sort.direction,
      option: defaultFilter.sort.option,
    };
  },
  components: {
    SortSelect,
  },
  computed: {
    filterOption(): FilterOption {
      return this.$store.getters.filterOption;
    },
  },
  methods: {
    changeSortOption(option: SortOption) {
      this.option = option;
    },
    changeSortDirection(direction: SortDirection) {
      this.direction = direction;
    },
    setFilterOption() {
      this.$store.commit(MutationType.SetFilterOptions, {
        name: this.name,
        score: this.score,
        sort: {
          direction: this.direction,
          option: this.option,
        },
      });
    },
    clearFilter() {
      this.name = defaultFilter.name;
      this.score = defaultFilter.score;
      this.option = defaultFilter.sort.option;
      this.direction = defaultFilter.sort.direction;
    },
  },
  watch: {
    name() {
      this.setFilterOption();
    },
    score() {
      this.setFilterOption();
    },
    direction() {
      this.setFilterOption();
    },
    option() {
      this.setFilterOption();
    },
  },
});
</script>

<style lang="scss" scoped>
@import "@/styles/_variable.scss";
.filter-panel {
  background-color: $bg-paper;
  padding: 20px;
  width: 100%;
}

.row {
  margin-top: 2.5rem;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 5rem;
}

@media screen and (max-width: $lg) {
  .score-order {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    margin-top: 2rem;

    .row {
      margin-top: 0;
    }

    .row:nth-child(2) {
      flex: 1;
    }

    .button-wrapper {
      margin-top: 1.375rem;
    }
  }
}

@media screen and (max-width: $md) {
  .score-order {
    flex-direction: column;
    justify-content: flex-start;
  }
}

@media screen and (max-width: $sm) {
  .row {
    margin-top: 1.5rem !important;
  }

  .score-order {
    margin-top: 0;
    gap: 0;

    .button-wrapper {
      button {
        width: 100%;
      }
    }
  }
}
</style>
