<template>
  <header>
    <div class="container">
      <div class="app-bar">
        <h1 class="logo">
          <router-link to="/"> VIDEO GAMES </router-link>
        </h1>
        <h1>
          <router-link to="/contact"> CONTACT </router-link>
        </h1>
      </div>
    </div>
  </header>
</template>

<script lang="ts" scoped>
import { defineComponent } from "vue";

export default defineComponent({
  data() {
    return {
      text: "",
    };
  },
  methods: {},
});
</script>

<style lang="scss" scoped>
@import "@/styles/_variable.scss";
header {
  padding: 6rem 0 4rem;
}

.app-bar {
  display: flex;
  align-items: center;
}

.logo {
  position: relative;
  margin-right: 5rem;
  &:before {
    font-family: Montserrat-Bold;
    content: "VIDEO";
    color: $bg-form;
    font-size: 4.4rem;
    position: absolute;
    z-index: -1;
    bottom: 24px;
    left: -2rem;
  }
}

@media screen and (max-width: $lg) {
  .app-bar {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1.5rem;
  }
}
</style>
