<template>
  <div class="sort-selection">
    <button class="sortBtn" @click="handleChangeDirection()">
      <ArrowIcon :class="direction" />
    </button>
    <div class="sort-option">
      <div class="value">{{ getActiveLabel(activeOption) }}</div>
      <CaretDownIcon class="caret-icon" />
      <div class="sort-dropdown">
        <div
          v-bind:key="index"
          class="option"
          v-for="(option, index) in validOptions"
          @click="changeSortOption(option.value)"
        >
          {{ option.label }}
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";
import ArrowIcon from "@/assets/icons/ArrowIcon.vue";
import CaretDownIcon from "@/assets/icons/CaretDownIcon.vue";
import { SortOption, SortDirection } from "@/types";

const SortLabels = [
  {
    label: "Release Date",
    value: SortOption.Release_Date,
  },
  {
    label: "Name",
    value: SortOption.Name,
  },
  {
    label: "Score",
    value: SortOption.Score,
  },
];

export default defineComponent({
  props: {
    activeOption: {
      type: String as PropType<SortOption>,
      required: true,
    },
    changeSortOption: {
      type: Function,
      required: true,
    },
    direction: {
      type: String as PropType<SortDirection>,
      required: true,
    },
    changeSortDirection: {
      type: Function,
      required: true,
    },
  },
  components: {
    ArrowIcon,
    CaretDownIcon,
  },
  computed: {
    validOptions() {
      return SortLabels.filter((item) => item.value !== this.activeOption);
    },
  },
  // watch: {
  //   validOptions() {
  //
  //   }
  // },
  methods: {
    handleChangeDirection() {
      this.changeSortDirection(
        this.direction === SortDirection.Asc
          ? SortDirection.Desc
          : SortDirection.Asc
      );
    },
    getActiveLabel(value: SortOption) {
      const active = SortLabels.find((item) => item.value === value);
      return active ? active.label : "";
    },
  },
});
</script>

<style lang="scss" scoped>
@import "@/styles/_variable.scss";
.sort-selection {
  display: flex;
  height: 2.25rem;

  .sortBtn {
    width: 2.25rem;
    flex-shrink: 0;
    cursor: pointer;
    padding: 0;

    svg {
      width: 10px;
    }
  }

  .asc {
    transform: rotate(-180deg);
  }

  .sort-option {
    flex: 1;
    display: flex;
    align-items: center;
    background-color: $bg-form;
    position: relative;

    .sort-dropdown {
      background-color: #182c47e0;
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      width: 100%;
      padding-top: 10px;
      z-index: 10;
    }

    &:hover {
      .sort-dropdown {
        display: block;
      }
    }

    .option {
      height: 2.25rem;
      padding: 0 10px;
      color: $text-secondary;
      display: flex;
      align-items: center;
      &:hover {
        cursor: pointer;
        background-color: $bg-paper;
      }
    }

    .value {
      flex: 1;
      color: $text-secondary;
      padding: 0 10px;
    }

    .caret-icon {
      width: 12px;
      color: $text-primary;
      margin-right: 12px;
    }
  }
}
</style>
