<template>
  <Header />
  <router-view />
</template>

<script lang="ts">
import { defineComponent } from "vue";
import Header from "@/components/Header.vue";
import "@/styles/global.scss";

export default defineComponent({
  name: "App",
  components: {
    Header,
  },
});
</script>

<style lang="scss">
.todo-app {
  max-width: 560px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;

  h1 {
    margin-top: 30px;
    margin-bottom: 12px;
    padding: 0 16px;
  }

  .content {
    flex: 1;
    overflow: auto;
    margin: 16px 0;
    padding: 0 16px;
  }
}
</style>
